<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team6.project.todo.TodoMapper">


    <insert id="insTodo" useGeneratedKeys="true" keyProperty="itodo">
        insert into t_todo
        set
        iuser = #{iuser},
        todo_content = #{todoContent},
        start_date = #{startDate},
        end_date = #{endDate}
        <if test="startTime != null">
            ,
            start_time = #{startTime}
        </if>
        <if test="endTime != null">
            ,
            end_time = #{endTime}
        </if>
    </insert>
    <insert id="insRepeat">
        insert into t_todo_repeat
        set itodo = #{itodo}
        <if test="repeatEndDate != null">
            ,
            repeat_end_date = #{repeatEndDate}
        </if>
        ,
        repeat_type = #{repeatType},
        repeat_num = #{repeatNum}

    </insert>

    <select id="isRepeat">
        SELECT IF(R.itodo IS NULL, 0, 1)
        FROM t_todo T LEFT JOIN t_todo_repeat R ON T.itodo = R.itodo
        WHERE T.itodo = #{itodo} AND T.iuser = #{iuser}
    </select>

    <select id="selectTodo">
        select T.itodo, T.todo_content as todoContent, start_date as startDate, end_date as endDate, start_time as startTime,
        end_time as endTime, repeat_end_date as repeatEndDate, repeat_type as repeatType, repeat_num as repeatNum
        from t_todo T
        left join t_todo_repeat R ON T.itodo = R.itodo
        WHERE T.iuser = #{iuser} AND (T.start_date <![CDATA[<=]]> #{selectedDate} AND T.end_date >= #{selectedDate}
        OR R.repeat_end_date >= #{selectedDate})
    </select>

<!--    <update id="patchTodoAndRepeat">-->
<!--        UPDATE t_todo T LEFT JOIN t_todo_repeat R ON T.itodo = R.itodo-->
<!--        <set>-->
<!--            <if test="todoContent != null">-->
<!--                todo_content = #{todoContent},-->
<!--            </if>-->
<!--            <if test="startDate != null">-->
<!--                start_date = #{startDate},-->
<!--            </if>-->
<!--            <if test="endDate != null">-->
<!--                end_date = #{endDate},-->
<!--            </if>-->
<!--            <if test="startTime != null">-->
<!--                start_time = #{startTime},-->
<!--            </if>-->
<!--            <if test="endTime != null">-->
<!--                end_time = #{endTime},-->
<!--            </if>-->
<!--            <if test="repeatEndDate != null">-->
<!--                repeat_end_date = #{repeatEndDate},-->
<!--            </if>-->
<!--            <if test="repeatType != null">-->
<!--                repeat_type = #{repeatType},-->
<!--            </if>-->
<!--            <if test="repeatNum != null">-->
<!--                repeat_num = #{repeatNum},-->
<!--            </if>-->
<!--        </set>-->
<!--        WHERE T.itodo = #{itodo} AND T.iuser = #{iuser}-->
<!--    </update>-->

    <update id="patchRepeat">
        update t_todo_repeat
        <set>
            <if test="repeatEndDate != null">
                repeat_end_date = #{repeatEndDate},
            </if>
            repeat_type = #{repeatType},
            repeat_num = #{repeatNum}
        </set>
        where itodo = #{itodo}
    </update>
    <update id="patchTodo">
        update t_todo
        <set>
            <if test="todoContent != null">
                todo_content = #{todoContent},
            </if>
            <if test="startDate != null">
                start_date = #{startDate},
            </if>
            <if test="endDate != null">
                end_date = #{endDate},
            </if>
            <if test="startTime != null">
                start_time = #{startTime},
            </if>
            <if test="endTime != null">
                end_time = #{endTime},
            </if>
        </set>
        where itodo = #{itodo} and iuser = #{iuser}
    </update>

    <delete id="deleteTodoRepeat">
        DELETE R
        FROM t_todo T left JOIN t_todo_repeat R ON T.itodo = R.itodo
        WHERE T.itodo = #{itodo} AND T.iuser = #{iuser}


    </delete>
    <delete id="deleteTodo">
        DELETE FROM t_todo WHERE itodo = #{itodo} AND iuser = #{iuser}
    </delete>
</mapper>