<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team6.project.user.UserMapper">
    <insert id="insUser" useGeneratedKeys="true" keyProperty="iuser">
        insert into t_user
        set user_nick_name=#{userNickName}
        ,user_gender=#{userGender}
        ,user_age=#{userAge}
    </insert>

    <select id="checkUser">
        select user_nick_name
        from t_user
        where user_nick_name=#{userNickName}
    </select>

    <select id="selUser">
        select user_nick_name as userNickName
        ,user_gender as userGender , user_age as userAge
        ,created_at as createdAt
        from t_user
        where iuser=#{iuser}
    </select>
    <update id="upUser">
        update t_user
        <set>
            <if test="userNickName != null">
                user_nick_name=#{userNickName},
            </if>
            <if test="userGender !=null">
                user_gender=#{userGender},
            </if>
            <if test="userAge != null">
                user_age=#{userAge}
            </if>
        </set>
        where iuser=#{iuser}
    </update>

    <delete id="delUser">
        delete from t_user
        where iuser=#{iuser}
    </delete>

    <delete id="delRepeat">
        delete R
        from t_todo T
        left join t_todo_repeat R
        on T.itodo=R.itodo
        where R.iuser=#{iuser}
    </delete>

    <delete id="delTodoEmo">
        delete T,E
        from t_user U
        left join t_todo T
        on U.iuser=T.iuser
        left join t_emotion E
        on U.iuser=E.iuser
        where U.iuser=#{iuser}
    </delete>

    <!--    <delete id="delUser">-->
    <!--        delete from t_user-->
    <!--        where iuser=#{iuser}-->
    <!--    </delete>-->
    <!--    <select id="selItodo">-->
    <!--        select itodo-->
    <!--        from t_todo-->
    <!--        where iuser=#{iuser}-->
    <!--    </select>-->
    <!--    <delete id="delToDoRepeat">-->
    <!--        delete from t_todo_repeat-->
    <!--        where itodo in (-->
    <!--        <foreach collection="itodos" item="itodo" separator=",">-->
    <!--            #{itodo}-->
    <!--        </foreach>-->
    <!--        )-->
    <!--    </delete>-->
    <!--    <delete id="delToDo">-->
    <!--        delete from t_todo-->
    <!--        where iuser=#{iuser}-->
    <!--    </delete>-->
    <!--    <delete id="delToEmo">-->
    <!--        delete from t_emotion-->
    <!--        where iuser=#{iuser}-->
    <!--    </delete>-->



</mapper>