<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team6.project.user.UserMapper">
<insert id="insUser" useGeneratedKeys="true" keyProperty="iuser">
    insert into t_user
    set user_nick_name=#{userNickName}
    ,user_gender=#{userGender}
    ,user_age=#{userAge}

</insert>

    <select id="checkUser">
        select user_nick_name
        from t_user
        where user_nick_name=#{userNickName}
    </select>

    <select id="selUser">
        select user_nick_name as userNickName
        ,user_gender as userGender , user_age as userAge
        ,created_at as createdAt
        from t_user
        where iuser=#{iuser}
    </select>
    <update id="upUser">
        update t_user
        set user_nick_name=#{userNickName},
        user_gender=#{userGender},
        user_age=#{userAge}
        where iuser=#{iuser}
    </update>
    <delete id="delUser">
        delete from t_user
        where iuser=#{iuser}
    </delete>

</mapper>

